In [1]:
# Dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [3]:
# Path of the CSV file
csvfile1 = "Resources/hawaii_measurements_clean.csv"
csvfile2 = "Resources/hawaii_stations_clean.csv"

In [4]:
# Read CSV file into a pandas DataFrame
df1 = pd.read_csv(csvfile1, dtype=object)
df2 = pd.read_csv(csvfile2, dtype=object)

In [5]:
# Preview DataFrame
print (df1.head())
print (df2.head())

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-07  0.06   70
       station                                    name latitude  longitude  \
0  USC00519397                    WAIKIKI 717.2, HI US  21.2716  -157.8168
1  USC00513117                    KANEOHE 838.1, HI US  21.4234  -157.8015
2  USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US  21.5213  -157.8374
3  USC00517948                       PEARL CITY, HI US  21.3934  -157.9751
4  USC00518838              UPPER WAHIAWA 874.3, HI US  21.4992  -158.0111

  elevation
0         3
1      14.6
2         7
3      11.9
4     306.6

In [6]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [7]:
# Create an engine to a SQLite database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

In [8]:
# Create a connection to the engine called `connection`
conn = engine.connect()

In [9]:
#Use declarative_base and create ORM classes for each table
Base = declarative_base()

class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Float)
    
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [10]:
# Use `create_all` to create the table in the database
Base.metadata.create_all(engine)